* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.btn{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border-radius: 4px;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

nav{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
 nav .menu {
    list-style: none;
    display: flex;
    gap:32px;
    align-items: center;
 }
 nav .menu a {
    text-decoration: none;
    line-height: 152%;
    color: #000000;
 }