* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.btn{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn:hover {
    background-color: #279E59;
}
.btn-one{
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-one:hover {
    background-color: #279E59;
}
.button {
    display: flex;
    gap: 16px;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* Navbar section  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
 nav .menu {
    list-style: none;
    display: flex;
    gap:32px;
    align-items: center;
 }
 nav .menu a {
    text-decoration: none;
    line-height: 152%;
    color: #000000;
 }
 /* Banner section */
 #banner {
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    padding: 115.5px 120px 134px;
    text-align: center;

    
 }
 #banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
 }
 #banner .banner-content .radio {
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #30B868;
    font-weight: 500;
    text-align: center;
 }
 #banner .banner-content h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
    
 }
 #banner .banner-content h1 .heading {
    color: #30B868;
 }
 #banner .banner-content .c {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 32px;

 }
/* Problem Section  */
.problem-container{
    padding: 0 120px;
}
.problem-heading {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 44px;

}
.problem-heading h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom:16px;
    padding-top: 50px;

}
.problem-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#problems .problem-container .problem-box {
    display: flex;
    gap: 16px;
    align-items: stretch;
    justify-content: center;
}
.problem-box .problem-card {
    max-width: 322px;

    padding: 24px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.173);
}
.problem-box .problem-card img {
    background-color: #F95555;
    border-radius: 50%;
    padding:10px;
    margin-bottom: 16px;
}
.problem-box .problem-card h3{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.problem-card p {
    font-size: 16px;
    line-height: 20px;
    color:#627382;
}
/* Brain Section  */
#brain {
    padding: 120px;
}
.brain-content {
    display: flex;
    gap: 60px;
    
}
.solution {
    padding: 102px 0 102px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
} 
.brain-solution  {
    color: #30B868;
    margin-bottom: 16px;
}
.brain-heading {
    color: #001931 ;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.brain-sol {
    line-height: 20px;
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-tips  {
    list-style-image: url("assets/CheckCircle.png");
    
}
.brain-tips li {
    font-weight: 500;
    align-items: center;
    margin-bottom: 16px;
    
    
    
}
/* Early access  section  */
#access {
    margin: 2px 120px 120px 120px;
    padding: 40px 0 ;
    background-color: #F7F6F2;
}
.early-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.early-access h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom:16px;
    padding-top: 50px;
}
.instruction {
    line-height: 24px;
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}
/* Footer secton  */
.footer-container {
    background-color: #001931;
    height: 348px;
    padding: 120px 120px 30px;
}
.social {
    display: flex;
    justify-content: space-between;
}
.caption {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}
.icons {
    display: flex;
    gap: 16px;
}
.footer-line {
   display: flex;
   flex-direction: column;
   gap: 80px; 
}
.footer-bottom {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
}