* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.btn{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: none;
}
.btn-one{
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: 1px solid white;
}
.button {
    display: flex;
    gap: 16px;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* Navbar section  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
 nav .menu {
    list-style: none;
    display: flex;
    gap:32px;
    align-items: center;
 }
 nav .menu a {
    text-decoration: none;
    line-height: 152%;
    color: #000000;
 }
 /* Banner section */
 #banner {
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    padding: 115.5px 120px 134px;
    text-align: center;

    
 }
 #banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
 }
 #banner .banner-content .radio {
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #30B868;
    font-weight: 500;
    text-align: center;
 }
 #banner .banner-content h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
    
 }
 #banner .banner-content h1 .heading {
    color: #30B868;
 }
 #banner .banner-content .c {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 32px;

 }
